.web-info__feature h2{
    left: 14rem;
}

.benefits-batata{
    right: 48%;
}

.benefits-description__container{
   display: flex;
   justify-content: center;
    flex-wrap: wrap;
   gap: 2rem;
}

.benefits-description{
    width: 32rem;
}


.bitcoin-girl__image img{
    height: 30rem;
    object-fit: cover;
}


